# Scikit-Learn 맛보기

## 1) 데이터 전처리

In [2]:
from sklearn.datasets import load_iris
iris = load_iris()

In [ ]:
from sklearn.datasets import load

In [8]:
# Feature 데이터, X
iris.data.shape

(150, 4)

In [4]:
# feature name
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [5]:
# Target data, Y (종속변수)
iris.target.shape

(150,)

In [9]:
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [10]:
import pandas as pd

In [11]:
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [12]:
iris_df['Species'] = iris.target
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### 2) 학습용 데이터와 테스트 데이터 분리

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.25,random_state=2011)

In [17]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((112, 4), (38, 4), (112,), (38,))

### 3) 머신러닝 알고리즘을 적용해 학습
- 결정 트리(Decision Tree)

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
# 객체 생성 --> 모델 생성, 괄호 안은 Hyper Parameter
dt_clf = DecisionTreeClassifier(random_state=2011)

In [21]:
# 학습 수행
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2011)

- SVM (Support Vector Machine)

In [23]:
from sklearn.svm import SVC

In [24]:
sv_clf = SVC()
sv_clf.fit(X_train,y_train)

SVC()

- Logistic Regression

In [26]:
from sklearn.linear_model import LogisticRegression
lr_clf = LogisticRegression()
lr_clf.fit(X_train,y_train)

LogisticRegression()

### 4) 예측 수행

In [30]:
# Decision Tree
pred_dt = dt_clf.predict(X_test)

In [34]:
# SVM
pred_sv = sv_clf.predict(X_test)

In [36]:
# Logistic Regression
pred_lr = lr_clf.predict(X_test)

### 5) 모델 평가

In [27]:
from sklearn.metrics import accuracy_score

In [31]:
score = accuracy_score(y_test, pred_dt)
print(f'결정트리 예측 정확도{score:.4f}')

결정트리 예측 정확도0.9211

In [33]:
# 결정트리
dt_clf.score(X_test,y_test)

0.9210526315789473

In [37]:
# SVM
sv_clf.score(X_test,y_test)

0.9736842105263158

In [38]:
# Logistic Regression
lr_clf.score(X_test,y_test)

0.9736842105263158

In [39]:
pred_df = pd.DataFrame({
    '실제값': y_test, '결정트리': pred_dt, 'SVM': pred_sv, 'Logistic':pred_lr
})
pred_df

    실제값  결정트리  SVM  Logistic
0     1     1    1         1
1     0     0    0         0
2     0     0    0         0
3     1     1    1         1
4     2     1    2         2
5     2     2    2         2
6     1     1    1         1
7     2     2    2         2
8     1     1    1         1
9     0     0    0         0
10    0     0    0         0
11    0     0    0         0
12    0     0    0         0
13    0     0    0         0
14    2     1    2         2
15    0     0    0         0
16    1     1    2         2
17    2     2    2         2
18    1     1    1         1
19    1     1    1         1
20    1     1    1         1
21    2     2    2         2
22    1     1    1         1
23    2     2    2         2
24    1     1    1         1
25    2     2    2         2
26    0     0    0         0
27    1     1    1         1
28    2     1    2         2
29    1     1    1         1
30    0     0    0         0
31    0     0    0         0
32    0     0    0         0
33    0     0    0         0
34    1     1    1         1
35    2     2    2         2
36    2     2    2         2
37    1     1    1         1

In [40]:
pred_df.실제값.value_counts()

1    14
0    13
2    11
Name: 실제값, dtype: int64